*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.img-movies{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-right: 0.8px;
}

.slick-slider .slides{
 width: 90%;
 padding: 0 30px;

 
}



.slides {
  height: 350px;
  cursor: pointer;
  display: flex;
  position: relative;
  margin-right: 5px !important; /* Adjusted margin */
}
.thisslides{
  cursor: pointer;
  display: flex;
  position: relative;
  margin-right: 5px !important; /* Adjusted margin */
  height: 100%;
}

.slick-slider .slidescircle {
  margin-right: 10px;
}

.slidescircle {
  width: 250px !important; /* Set the desired width for your circle */
  height: 250px; /* Set the desired height for your circle */
  border-radius: 50%; /* Makes the slider circular */
  overflow: hidden; /* Clips content outside the circle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
}

.slidescircle img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  /* Cover the container without stretching */
}

.slides-sidebar{
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.movie-ids {
  position: absolute;
  top: 125px; /* Adjusted top position */
  left: -25px; /* Adjusted left position */
  font-size: 5.5rem; /* Adjusted font size */
  color: rgb(247, 247, 247);
  transform: scaleY(1); /* Adjusted transform */
  transform-origin: 0% 0%;
}

.slidesh{
  height: 330px;
  width: 250px;
  margin-right: 50px;
  cursor: pointer;
}

/* dashboard slider */

.slick-slider .dashslide{
  padding-right: 35px;
}

.dashslide{
  width: 250px !important; /* Set the desired width for your circle */
  height: 200px; /* Set the desired height for your circle *//* Makes the slider circular */
  overflow: hidden; /* Clips content outside the circle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  
}

.dashslide img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  /* Cover the container without stretching */
}

.slidesfriends{
  width: 150px !important; /* Set the desired width for your circle */
  height: 150px; /* Set the desired height for your circle */
  border-radius: 50%; /* Makes the slider circular */
  overflow: hidden; /* Clips content outside the circle */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.slidesfriends img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  /* Cover the container without stretching */
}


.slick-slider .slidesfriends {
  margin-right: 10px;
}



/* end of dashboard slider */
.playmood-logo{
  color: red;
  position: absolute;
  top: 10px;
  left: 20px;
}
.playmood-logo-h{
  color: red;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.1rem;
  font-weight: 700;
}
.movie-title{
  height: fit-content;
  width: 40%;
  padding: 10px 20px 10px 20px ;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  border-bottom-right-radius: 40px;
}
.home-page-icon{
  height: fit-content;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 20px;
  right: 150px;
  display: flex;
}
.home-page-icon img{
  height: 30px;
  width: auto;
  cursor: pointer;

}
.movie-title h1{
  color: white;
  font-size: 1rem;
  font-weight: 500;
}

.movie-slider{
  width: 100%;
  object-fit: cover;  
  height: 150px;
}

.banner-stamp{
  padding-right: 30px;
  width: auto;
  height: 25px;
}
.attached-movie-actions{
  width: 100%;
  position: absolute;
  top: 10px; 
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.movie-action-like{
  width: 20px;
  height: 20px;
  display: none;
}
.button-movie-action span img{
  width: 5px;
  height: 10px;
}
.button-movie-action{
  background: none;
  border: 1px solid #f7f2f2;
  border-radius: 10px;;
  padding: 5px 10px 5px 10px;
  color: white;
}
.prev-movie-info{
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  gap: 10px;
}
.prev-movie-info h3{
  color: white;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  width: 80%;
}
.more-info-dots{
  width: 20%;
  height: 40px;
}
.video-hovered{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-hovered-top{
  height: 80px;
  width: 100%;
  background-color: black;
}
.video-hovered-bottom{
  height: 170px;
  width: 100%;
  background-color: black;
  padding: 20px;
}
.video-hovered-bottom h4{
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}
.video-hovered-bottom p{
  color: white;
  font-size: 0.7rem;
  font-weight: 300;
}
.top-videos-exposed{
  height: 150px;
  width: 90%;
  margin: 0px auto 0px auto;
}
:root {
  --swiper-theme-color: #fff;
}
.swiper-button-next{
  right: 0px;
  position: absolute !important;
  z-index: 999 ;
}
.sliders-container{
  width: 70%;
  padding: 10px;
}
.sidebar-single-movie-page{
  background-color: black;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 50px;

}
.settings-icon{
  height: 40px;
  width: 40px;
}
.search-icon{
  height: 30px;
  width: 30px;
}
.sidebar-expanded-movie-page{
  background-color: black;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  padding-left: 10px;
  padding-right: 1px;
}
.search-container{
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  
}
.search-container:hover{
  background-color: grey;
  border-right: 4px solid red;
}
.search-container p{
  color: white;
}
.profile-sidebar-section{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
}

.profile-sidebar-section p{
  color: white;
  cursor: pointer;
}
.view_more{
  text-decoration: underline;
}

/* react icon styling */

/* CSS for the "like" and "share" icons and space between them */
.icons-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.like-icon, .share-icon {
  font-size: 24px; /* Adjust the size as needed */
  margin: 0 5px; /* Adjust the margin for space between icons */
  
}

.icon-space {
  width: 10px; /* Adjust the desired space between the icons */
}

/* .topmovies{
  height: 250px;
  width: 100%;

} */


/* styling for sidebar slider  */

.sidebar-slide{
  width: 80px !important;
  height: 40px;
  overflow: hidden; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.5px !important;
}



.slick-slider .sidebar-slide{
  padding-right: 35px;
}



.sidebar-slide img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.sidebar-slide .sidebar-text {
  font-size: 0.5px !important; /* Adjust the font size as needed */
}

/* spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(249, 34, 34, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgba(249, 34, 34, 0.5) transparent #b44d4d transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/* end of spinner */

/* lgt-btn */

.head_section li {
  list-style-type: none;
}

.head_section .lgt_btn {
  background-color: #e72b2b; /* Choose your desired background color */
  color: #ffffff; /* Choose your desired text color */
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
  margin-top: 10px;

}

.head_section .lgt_btn:hover {
  background-color: #7c1408; /* Change the background color on hover */
}

/* Dashboard button */

.dash-btn{

}

.dash-btn .lgt_btn {
  background-color: #f3f3f3; /* Choose your desired background color */
  color: #541011; /* Choose your desired text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  transition: background-color 0.3s ease;
  margin: 10px 10px;

}

.dash-btn .lgt_btn:hover {
  background-color: #541011;
  color:#ffffff;
}


/*  */

/* card image */
/* .className{
  background-image: url("/Playmood/public/16_models.png");
  background-repeat: no-repeat;
} */

@media (max-width: 768px) {
  /* Styles for screens up to 768px width */
  .slides,
  .thisslides {
    height: 270px; /* Adjusted height for smaller screens */
  }

  .slidescircle {
    width: 200px !important; /* Adjusted width for smaller screens */
    height: 200px; /* Adjusted height for smaller screens */
  }

  .slidesh {
    height: 200px; /* Adjusted height for smaller screens */
  }

  .movie-title {
    width: 80%; /* Adjusted width for smaller screens */
    left: 10px; /* Adjusted left position for smaller screens */
    top: 10px; /* Adjusted top position for smaller screens */
    border-bottom-right-radius: 20px; /* Adjusted border radius for smaller screens */
  }

  .home-page-icon {
    right: 10px; /* Adjusted right position for smaller screens */
    top: 10px; /* Adjusted top position for smaller screens */
  }

  .prev-movie-info h3 {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }

  .video-hovered-bottom h4,
  .video-hovered-bottom p {
    font-size: 0.6rem; /* Adjusted font size for smaller screens */
  }

  /* Add more responsive styles as needed */
}