
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
.img-movies{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  margin-right: 0.8px;
}

.slick-slider .slides{
 width: 90%;
 padding: 0 30px;
}



.slides {
  height: 350px;
  cursor: pointer;
  display: flex;
  position: relative;
  margin-right: 5px !important;
  transition: transform 0.3s ease; 
    
  &:hover {
    transform: scale(1.09); 
  }
}


.thisslides{
  cursor: pointer;
  display: flex;
  position: relative;
  margin-right: 5px !important; /* Adjusted margin */
  height: 100%;
}

.slick-slider .slidescircle {
  margin-right: 10px;
}

.slidescircle {
  width: 250px !important; 
  height: 250px; 
  border-radius: 50%; 
  overflow: hidden; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease; 
  
  &:hover {
    transform: scale(1.09); 
  }
  
}

.slidescircle img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  
}

.slides-sidebar{
  height: 100%;
  margin-right: 10px;
  cursor: pointer;
  display: flex;
  position: relative;
}
.movie-ids {
  position: absolute;
  top: 98px; /* Adjusted top position */
  left: -20px; /* Adjusted left position */
  font-size: 3.0rem; /* Adjusted font size */
  color: rgb(247, 247, 247);
  transform: scaleY(1); /* Adjusted transform */
  transform-origin: 0% 0%;
}

.slidesh{
  height: 330px;
  width: 250px;
  margin-right: 50px;
  cursor: pointer;
}

/* dashboard slider */

.slick-slider .dashslide{
  padding-right: 35px;
}

.dashslide{
  width: 250px !important; /* Set the desired width for your circle */
  height: 200px; /* Set the desired height for your circle *//* Makes the slider circular */
  overflow: hidden; /* Clips content outside the circle */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  
}

.dashslide img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  /* Cover the container without stretching */
}

.slidesfriends{
  width: 150px !important; /* Set the desired width for your circle */
  height: 150px; /* Set the desired height for your circle */
  border-radius: 50%; /* Makes the slider circular */
  overflow: hidden; /* Clips content outside the circle */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.slidesfriends img {
  width: 100%; 
  height: 100%; 
  object-fit: cover;  /* Cover the container without stretching */
}


.slick-slider .slidesfriends {
  margin-right: 10px;
}



/* end of dashboard slider */
.playmood-logo{
  color: red;
  position: absolute;
  top: 10px;
  left: 20px;
}
.playmood-logo-h{
  color: red;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.1rem;
  font-weight: 700;
}
.movie-title{
  height: fit-content;
  width: 40%;
  padding: 10px 20px 10px 20px ;
  background-color: red;
  position: absolute;
  top: 20px;
  left: 20px;
  border-bottom-right-radius: 40px;
}
.home-page-icon{
  height: fit-content;
  padding: 10px 20px 10px 20px;
  position: absolute;
  top: 20px;
  right: 300px;
  display: flex;
  z-index: 12;
}
.home-page-icon img{
  height: 30px;
  width: auto;
  cursor: pointer;

}
.movie-title h1 {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  /* For WebKit-based browsers */
  -webkit-line-clamp: 3;
  /* For Firefox */
  -moz-line-clamp: 3;
  /* For IE */
  -ms-line-clamp: 3;
  /* Standard */
  line-clamp: 3;
  /* Ensure text wraps within container */
  display: -webkit-box;
  overflow: hidden;
  /* Ensure proper display for multi-line text */
  -webkit-box-orient: vertical;
  /* Add ellipsis for overflow text */
  text-overflow: ellipsis;

}

.movie-slider{
  width: 100%;
  object-fit: cover;  
  height: 150px;
}

.banner-stamp{
  padding-right: 30px;
  width: auto;
  height: 25px;
}
.attached-movie-actions{
  width: 100%;
  position: absolute;
  top: 10px; 
  padding: 0 5px;
  display: flex;
  justify-content: space-between;
}
.movie-action-like{
  width: 20px;
  height: 20px;
  display: none;
}
.button-movie-action span img{
  width: 5px;
  height: 10px;
}
.button-movie-action{
  background: none;
  border: 1px solid #f7f2f2;
  border-radius: 10px;;
  padding: 5px 10px 5px 10px;
  color: white;
}
.prev-movie-info{
  height: 100px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0px;
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
  gap: 10px;
}

.video-hovered{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.video-hovered-top{
  height: 80px;
  width: 100%;
  background-color: black;
}
.video-hovered-bottom{
  height: 170px;
  width: 100%;
  background-color: black;
  padding: 20px;
}
.video-hovered-bottom h4{
  color: white;
  font-size: 0.8rem;
  font-weight: 600;
}
.video-hovered-bottom p{
  color: white;
  font-size: 0.7rem;
  font-weight: 300;
}
.top-videos-exposed{
  height: 150px;
  width: 90%;
  margin: 0px auto 0px auto;
}
:root {
  --swiper-theme-color: #fff;
}
.swiper-button-next{
  right: 0px;
  position: absolute !important;
  z-index: 999 ;
}
.sliders-container{
  width: 70%;
  padding: 10px;
}
.sidebar-single-movie-page{
  background-color: black;
  width: 100px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  gap: 50px;

}
.settings-icon{
  height: 40px;
  width: 40px;
}
.search-icon{
  height: 30px;
  width: 30px;
}
.sidebar-expanded-movie-page{
  background-color: black;
  width: 300px;
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
  padding-left: 10px;
  padding-right: 1px;
}
.search-container{
  display: flex;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  padding: 15px 20px 15px 20px;
  
}
.search-container:hover{
  background-color: grey;
  border-right: 4px solid red;
}
.search-container p{
  color: white;
}
.profile-sidebar-section{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
}

.profile-sidebar-section p{
  color: white;
  cursor: pointer;
}
.view_more{
  text-decoration: underline;
}

/* react icon styling */

/* CSS for the "like" and "share" icons and space between them */
.icons-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.like-icon, .share-icon {
  font-size: 24px; /* Adjust the size as needed */
  margin: 0 5px; /* Adjust the margin for space between icons */
  
}

.icon-space {
  width: 10px; /* Adjust the desired space between the icons */
}

/* .topmovies{
  height: 250px;
  width: 100%;

} */


/* styling for sidebar slider  */

.sidebar-slide{
  width: 80px !important;
  height: 40px;
  overflow: hidden; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 0.5px !important;
}



.slick-slider .sidebar-slide{
  padding-right: 35px;
}



.sidebar-slide img {
  width: 100%; 
  height: 100%; 
  object-fit: contain; 
}

.sidebar-slide .sidebar-text {
  font-size: 0.5px !important; /* Adjust the font size as needed */
}

/* spinner */

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(249, 34, 34, 0.5);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: rgba(249, 34, 34, 0.5) transparent #b44d4d transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

/* end of spinner */



/* lgt-btn */

.head_section li {
  list-style-type: none;
}

.head_section .lgt_btn {
  background-color: #e72b2b; 
  color: #ffffff; 
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  transition: background-color 0.3s ease;
  margin-top: 10px;

}

.head_section .lgt_btn:hover {
  background-color: #7c1408; /* Change the background color on hover */
}









/* Dashboard button */

.dash-btn{
  
}

.dash-btn .lgt_btn {
  background-color: #541011; /* Choose your desired background color */
  color: #f3f3f3; /* Choose your desired text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  transition: background-color 0.3s ease;
  margin: 10px 10px;
}


.dash-btn .lgt_btn:hover {
  background-color: #ffffff;
  color:#541011;
}

.dash-btn .dashb_btn{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust spacing between buttons */

  color: #541011; /* Choose your desired background color */
  background-color: #f3f3f3; /* Choose your desired text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  transition: background-color 0.3s ease;
  margin: 10px 10px;
}

.dash-btn .dashb_btn span {
  margin-left: 5px; /* Adjust spacing between icon and text */
}



.dash-btn .dashb_btn:hover {
  color: #ffffff;
  background-color:#541011;
}

.donate-btns{
  position: absolute;
  top:700px;
  left:20px;
  display: flex;
  flex-wrap: wrap;
  max-width: fit-content;
  /* background-color: red; */
  width: 250px;
}

.donate-btns .creator_btn{
  width: 74%;
}

.dash-btn .donate_btn {
  background-color: #541011; /* Choose your desired background color */
  color: #f3f3f3; /* Choose your desired text color */
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 10px;
  font-weight: normal;
  transition: background-color 0.3s ease;
  margin: 5px 5px;
}

.dash-btn .donate_btn:hover {
  background-color: #ffffff;
  color:#541011;
}






/* .next-btn .lgt_btn {
  background-color: #f3f3f3; 
  color: #541011;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 15px;
  font-weight: normal;
  transition: background-color 0.3s ease;
  margin: 10px 10px;

} */

/*  */

/* card image */
/* .className{
  background-image: url("/Playmood/public/16_models.png");
  background-repeat: no-repeat;
} */

.movie-minimize{
  position: relative;
  left:-50px;
}

.label {
  position: absolute;
  /* top: -30px;
  left: 50px; */
  transform: translateX(-50%);
  background-color: #7c1408;
  color: white;
  padding: 5px;
  border-radius: 5px;
  z-index: 999;
  font-size: 12px;
}
.title-label{
  top: -30px;
  left: 50px;
}
.video-label{
  top: -60px;
  left: 10px;
 
}

.miniplayer{
  top: -40px;
  right: -5px;
  width: 80px;
}

.dash-btn .production_btn{
  padding: 5px;
  position: relative;
  left: 50px;
}

.dash-btn .nextvideo-btn{
  position: relative;
  left: -90px;
  font-size:12px;
}

.dash-btn .production_par{
  position: absolute;
  left: -220px;
}

.dash-btn .favorite-icon{
  position:absolute;
  top: -60px;
  left: 920px;
  color:gold
}

.title-truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  width: 380px;
}

.description-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* Number of lines to show */
  -webkit-box-orient: vertical;
}

.view-more-btn {
  background-color: #007bff; /* Blue color, change as needed */
  color: #fff; /* White text color */
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.view-more-btn:hover {
  background-color: #0056b3; /* Darker shade of blue on hover */
}

.movie-left-cont{
  height: 250px;
}

.movie-right-cont{
  /* position: relative; */
  /* background-color: blue; */
  left: -20px;
  height: 250px;
  width:450px;
}



.mobile-hamburger {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5)); 
  position: relative;
  top: -70px;
}

.mobile-hamburger-movie {
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.5)); 
  position: relative;
  top: 0px;
}







@media (max-width: 768px) {

  .slides,
  .thisslides {

    width: 100px;
    height: 300px;
    object-fit: contain !important;
  }

  .slidescircle {
    width: 200px !important; /* Adjusted width for smaller screens */
    height: 200px; /* Adjusted height for smaller screens */
  }

  .slidesh {
    height: 200px; /* Adjusted height for smaller screens */
  }

  .movie-title {
    display: flex;
    width: 80%; 
    left: 10px; 
    top: 10px; 
    border-bottom-right-radius: 20px; 
    align-items: center;
    justify-content: center;
  }

  .home-page-icon {
    right: 10px; /* Adjusted right position for smaller screens */
    top: 10px; /* Adjusted top position for smaller screens */
  }

  .prev-movie-info h3 {
    font-size: 0.8rem; /* Adjusted font size for smaller screens */
  }

  .video-hovered-bottom h4,
  .video-hovered-bottom p {
    font-size: 0.6rem; /* Adjusted font size for smaller screens */
  }

  .home-page-icon {
    right: -8px; /* Adjusted right position for smaller screens */
    top: 10px; /* Adjusted top position for smaller screens */
  }

  .movie-title {
    width: 35%; 
    height: 40px;
    left: 50px; 
    top: 10px; 
    border-bottom-right-radius: 20px; 
    padding: 10px;
  }

  .movie-title h1{
    font-size: 7px;
  }

  .dash-btn .lgt_btn {
    padding: 8px 8px;
    font-size: 10px;
    font-weight: normal;
    margin: 10px 10px;
  }

  .dash-btn .production_btn{
    padding: 5px;
    position: relative;
    left: -50px;
  }

  .dash-btn .nextvideo-btn{
    position: relative;
    left: -60px;
    font-size:12px;
  }

  .dash-btn .production_par{
    position: relative;
    left: -140px;
  }


  .menutitle-credits{
    position: relative;
    left: 27px;
  }

  .dash-btn .dashb_btn{
    color: #541011; /* Choose your desired background color */
    background-color: #f3f3f3; /* Choose your desired text color */
    padding: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 9px;
    font-weight: normal;
    transition: background-color 0.3s ease;
    margin: 5px 5px;
  }
  
  .dash-btn .dashb_btn:hover {
    color: #ffffff;
    background-color:#541011;
  }

  .movie-right-cont{
    height: 250px;
    /* width:220px; */
  }

  /* .movie-right-cont .movie-desc{
    position: relative;
    left:-200px;
  } */
  
}

.picture-placeholder {
  position: relative;
  width: 150px; /* Adjust according to your design */
  height: 150px; /* Adjust according to your design */
  border-radius: 50%; /* To make it circular */
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #ccc; /* Optional: border styling */
}

.picture-placeholder img {
  width: 100%;
  height: 100%;
  object-fit: cover; /* To ensure the image covers the entire container */
}

.placeholder-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px; /* Adjust according to your design */
  color: #333; /* Adjust according to your design */
}


@media (max-width: 425px) {
  #top10{
    position: relative;
    top:-80px;
  }
  #newonplay{
    position: relative;
    top: -170px;

  }

  #channel{
    position: relative;
    top:-180px
  }

  #diaries{
    position: relative;
    top:-180px
  }
  #spaces{
    position: relative;
    top:-180px
  }
  .donate-btns .creator_btn{
    width: 155px;
  }
  .donate-btns{
    position: relative;
    top:50px;
    display: flex;
    flex-wrap: wrap;
    width:180px;
  }
  .donate_btneq{
    display: flex;
    width: 40%;
  }

  .dash-btn .favorite-icon{
    top: -45px;
    left: -30px;
    color:gold
  }

  
}

@media (max-width: 414px) {

  .dash-btn .production_par{
    position: absolute;
    left: 30px;
  }

  .dash-btn .nextvideo-btn{
    left: -190px;
    position: absolute;
    font-size:10px; 
    padding: 4px;
    top:5px;
  }

  .dash-btn .production_btn{
    padding: 5px;
    position: absolute;
    left: 200px;
    font-size: 8px;
    line-height: normal;
  }

  .donate-btns{
    position: relative;
    top:50px;
    display: flex;
    flex-wrap: wrap;
    width:180px;
    /* background-color: red; */
  }
  
  .donate-btns .creator_btn{
    width: 140px;
  }

  .donate_btneq{
    width: 65px;
  }
  
  .dash-btn .donate_btn {
    padding: 5px 10px;
    font-size: 8px;
    margin: 5px 5px;
  }

 

  .dash-btn .favorite-icon{
    top: 160px;
    left: 120px;
    color:gold
  }


}

@media (max-width: 375px) {

  .dash-btn .production_par{
    position: relative;
    left: -140px;
  }

  .dash-btn .production_btn{
    padding: 5px;
    position: relative;
    left: -150px;
  }

}

.inputfield {
  @apply px-4 py-2 rounded-lg;
}

.subscribe-button {
  @apply bg-red-500 text-white px-4 py-2 rounded-lg cursor-pointer;
}




@tailwind base;
@tailwind components;
@tailwind utilities;
